<div class="social_links">
        <a href="" class="link">
                <div class="icon-border">
                        <i class='bx bxl-youtube' ></i>
                </div>       
        </a>
        <a href="" class="link">
                <div class="icon-border">
                        <i class='bx bxl-facebook' ></i>
                </div>
        </a>
        <a href="" class="link">
                <div class="icon-border">
                        <i class='bx bxl-vk' ></i>
                </div>
        </a>
        <a href="" class="link">
                <div class="icon-border">
                        <i class='bx bxl-telegram' ></i>
                </div>
        </a>
        <a href="" class="link">
                <div class="icon-border">
                        <i class='bx bxl-twitter' ></i>
                </div>
        </a>
        <a href="" class="link">
                <div class="icon-border">
                        <i class='bx bxl-tiktok' ></i>
                </div>
        </a>
</div>